<div class="container-fluid">
        <form>
                <div class="form-group">
                    <input [(ngModel)]="asyncSelected"
                    [typeaheadAsync]="true"
                    [typeahead]="dataSource"
                    (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadOptionsLimit]="82"
                    typeaheadOptionField="fullName"
                    placeholder="Search Player Name"
                    class="form-control"
                    [typeaheadMinLength]="3"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </form>
<div class="row">
    <div class="row-sm-6 ml-auto">
        <div class="col-sm-12"><h3>Assists: {{cumulativeStat.assists}}</h3></div>
        <div class="col-sm-12"><h3>Points: {{cumulativeStat.points}}</h3></div>
        <div class="col-sm-12"><h3>Steals: {{cumulativeStat.steals}}</h3></div>
    </div>
    <div class="row-sm-6 ml-auto">
        <div class="col-sm-12"><h3>FGA: {{cumulativeStat.fga}}</h3></div>
        <div class="col-sm-12"><h3>FGM: {{cumulativeStat.fgm}}</h3></div>
        <div class="col-sm-12"><h3>FG%: {{cumulativeStat.fgp}}%</h3></div>
    </div>
    <div class="row-sm-6 ml-auto">
        <div class="col-sm-12"><h3>Blocks: {{cumulativeStat.blocks}}</h3></div>
        <div class="col-sm-12"><h3>Turnovers: {{cumulativeStat.turnovers}}</h3></div>
        <div class="col-sm-12"><h3>Fouls: {{cumulativeStat.pFouls}}</h3></div>
    </div>
    <div class="row-sm-6 ml-auto">
        <div class="col-sm-12"><h3>TPA: {{cumulativeStat.tpa}}</h3></div>  
        <div class="col-sm-12"><h3>TPM: {{cumulativeStat.tpm}}</h3></div>  
        <div class="col-sm-12"><h3>TPP: {{cumulativeStat.tpp}}%</h3></div>  
    </div>
    <div class="row-sm-6 ml-auto mr-3">
        <img [src]="userPic" width="125" height="125">
    </div>
</div>
<hr>
<div style="text-align:center; position: relative;" class="col-sm">
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            </ngx-spinner>
  <ag-grid-angular 
    style="width: 100%; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="gridOptions.rowData"
    [columnDefs]="gridOptions.columnDefs"
    (gridReady)="onReady($event)">
</ag-grid-angular>
</div>
</div>